In [3]:
import pandas as pd

In [1]:
import numpy as np

In [4]:
lst=np.random.random(10)
lst

array([0.71407783, 0.16745545, 0.7033498 , 0.00123136, 0.35779003,
       0.7947589 , 0.78931065, 0.04178012, 0.88104052, 0.95922441])

In [7]:
pd.DataFrame(lst, columns=["random"])#in panda we always call the column first and then the row

     random
0  0.714078
1  0.167455
2  0.703350
3  0.001231
4  0.357790
5  0.794759
6  0.789311
7  0.041780
8  0.881041
9  0.959224

In [9]:
pd.Series(lst)

0    0.714078
1    0.167455
2    0.703350
3    0.001231
4    0.357790
5    0.794759
6    0.789311
7    0.041780
8    0.881041
9    0.959224
dtype: float64

In [10]:
lst_lst=np.random.random((5,2))
lst_lst

array([[2.06018149e-01, 6.09039881e-01],
       [9.53023553e-01, 7.99754812e-01],
       [4.94390314e-03, 2.22313709e-01],
       [7.20420738e-04, 7.86129809e-02],
       [8.04290610e-01, 5.01057891e-01]])

In [12]:
pd.DataFrame(lst_lst,columns=["col1", "col2"])

       col1      col2
0  0.206018  0.609040
1  0.953024  0.799755
2  0.004944  0.222314
3  0.000720  0.078613
4  0.804291  0.501058

In [26]:
d={"key1":[1,2,3], "key2":("crocodile",3,4), "key3":{4,3,2}}
print(d)
pd.DataFrame(d)

{'key1': [1, 2, 3], 'key2': ('crocodile', 3, 4), 'key3': {2, 3, 4}}

   key1       key2       key3
0     1  crocodile  {2, 3, 4}
1     2          3  {2, 3, 4}
2     3          4  {2, 3, 4}

In [27]:
pd.DataFrame(d).transpose()

              0          1          2
key1          1          2          3
key2  crocodile          3          4
key3  {2, 3, 4}  {2, 3, 4}  {2, 3, 4}

In [28]:
df = pd.DataFrame.from_dict(d, orient="index")
print(df)

              0  1  2
key1          1  2  3
key2  crocodile  3  4
key3          2  3  4

In [ ]:
#selecting data
#df["col1"][1] 
#df ["col2"] select the whole column
#df[["col1","id"]] select columns col1 and id
#df.iloc[[1:3]] will display 2 rows: 1 and 2

In [ ]:
#df["column1"].sum() or mean() or min() or max() wil display the sum of the column or data frame or row...

In [29]:
df.sum()

1     8
2    11
dtype: int64

In [30]:
df.sum(axis=1)#axis 1 row axis 0 column

key1    5
key2    7
key3    7
dtype: int64

In [32]:
df[1:2]#access the first row
df.iloc[1:2]#better this way

              0  1  2
key2  crocodile  3  4

In [33]:
df[1].key3 #brings the value in column1 and key 3

3