In [7]:
import pandas as pd
import numpy as np
import os

os.getcwd()
os.chdir('/Users/margueritevergne/Downloads')
df=pd.read_csv('us-census-demographic-data/acs2015_county_data.csv')

In [8]:
print(np.random.randint(37))
print(np.random.randint(37))

12
25

In [9]:
df.iloc[:5,9:18]

,Native,Asian,Pacific,Citizen,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty
0,0.4,1.0,0.0,40725,51281.0,2391.0,24974,1080,12.9
1,0.6,0.7,0.0,147695,50254.0,1263.0,27317,711,13.4
2,0.2,0.4,0.0,20714,32964.0,2973.0,16824,798,26.7
3,0.4,0.1,0.0,17495,38678.0,3995.0,18431,1618,16.8
4,0.3,0.1,0.0,42345,45813.0,3141.0,20532,708,16.7

In [11]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [18]:
select=SelectKBest(chi2,k=6)
X=df.iloc[:,9:18]
y=df.iloc[:,19]
print(X.shape,y.shape)

(3220, 9) (3220,)

In [19]:
X_new=select.fit_transform(X,y)
X_new.shape

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [20]:
X[pd.isnull(X).any(axis=1)]

,Native,Asian,Pacific,Citizen,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty
2673,12.8,0.0,0.0,98,NaN,NaN,25877,6544,28.9

In [21]:
X.loc[2673]

Native                12.8
Asian                  0.0
Pacific                0.0
Citizen               98.0
Income                 NaN
IncomeErr              NaN
IncomePerCap       25877.0
IncomePerCapErr     6544.0
Poverty               28.9
Name: 2673, dtype: float64

In [ ]:
y.drop(X[pd.isnull(X).any(axis=1)].index[0],inplace=True)
X.dropna(inplace=True)

In [22]:
print(X.shape,y.shape)

(3220, 9) (3220,)

In [ ]:
X_new=select.fit_transform(X,y)
X_new.shape

In [ ]:
X.unique